<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Mapotofu"
            android:exported="false" />
        <activity
            android:name=".PatoLaqueadoAlaPekinesa"
            android:exported="false" />
        <activity
            android:name=".ui.login.Mapotofu"
            android:exported="false"
            android:label="@string/title_activity_mapotofu" />
        <activity
            android:name=".DimSun"
            android:exported="false" />
        <activity
            android:name=".ChowMein"
            android:exported="false" />
        <activity
            android:name=".Escalivada"
            android:exported="false" />
        <activity
            android:name=".Croquetas"
            android:exported="false" />
        <activity
            android:name=".CocidoMadrileno"
            android:exported="false" />
        <activity
            android:name=".ChorizoALaSidra"
            android:exported="false" />
        <activity
            android:name=".Chipirones"
            android:exported="false" />
        <activity
            android:name=".BoqueronesFritos"
            android:exported="false" />
        <activity
            android:name=".BacalaoALaVizcaina"
            android:exported="false" />
        <activity
            android:name=".RepertorioRecetasEspana"
            android:exported="false" />
        <activity
            android:name=".Cuchuco"
            android:exported="false" />
        <activity
            android:name=".Changua"
            android:exported="false" />
        <activity
            android:name=".Carimanola"
            android:exported="false" />
        <activity
            android:name=".BolloLimpio"
            android:exported="false" />
        <activity
            android:name=".ArrozConCoco"
            android:exported="false" />
        <activity
            android:name=".Arepas"
            android:exported="false" />
        <activity
            android:name=".Ajiaco"
            android:exported="false" />
        <activity
            android:name=".RepertorioRecetasColombia"
            android:exported="false" />
        <activity
            android:name=".Chopsuey"
            android:exported="false" />
        <activity
            android:name=".ArrozCongee"
            android:exported="false" />
        <activity
            android:name=".AbalonEnLeche"
            android:exported="false" />
        <activity
            android:name=".RepertorioRecetasChina"
            android:exported="false" />
        <activity
            android:name=".Spagetti"
            android:exported="false" />
        <activity
            android:name=".Risotto"
            android:exported="false" />
        <activity
            android:name=".Ravioles"
            android:exported="false" />
        <activity
            android:name=".Pizza"
            android:exported="false" />
        <activity
            android:name=".Pasta"
            android:exported="false" />
        <activity
            android:name=".Ossobuco"
            android:exported="false" />
        <activity
            android:name=".Minestrone"
            android:exported="false" />
        <activity
            android:name=".LaPolenta"
            android:exported="false" />
        <activity
            android:name=".Lasana"
            android:exported="false" />
        <activity
            android:name=".Gnocci"
            android:exported="false" />
        <activity
            android:name=".Carpaccio"
            android:exported="false" />
        <activity
            android:name=".Caprese"
            android:exported="false" />
        <activity
            android:name=".Agnolotti"
            android:exported="false" />
        <activity
            android:name=".RepertorioRecetasItalia"
            android:exported="false" />
        <activity
            android:name=".RollosSushiEmpanizado"
            android:exported="false" />
        <activity
            android:name=".SopaDeMisu"
            android:exported="false" />
        <activity
            android:name=".Soba"
            android:exported="false" />
        <activity
            android:name=".Sashimi"
            android:exported="false" />
        <activity
            android:name=".Ramen"
            android:exported="false" />
        <activity
            android:name=".PolloTeriyaki"
            android:exported="false" />
        <activity
            android:name=".Onigiri"
            android:exported="false" />
        <activity
            android:name=".Omuraisu"
            android:exported="false" />
        <activity
            android:name=".Gyosa"
            android:exported="false" />
        <activity
            android:name=".Dorayaky"
            android:exported="false" />
        <activity
            android:name=".RepertorioRecetasJapon"
            android:exported="false" />
        <activity
            android:name=".Churros"
            android:exported="false" />
        <activity
            android:name=".ChilesPoblanos"
            android:exported="false" />
        <activity
            android:name=".Bunuelos"
            android:exported="false" />
        <activity
            android:name=".AsadoVerde"
            android:exported="false" />
        <activity
            android:name=".ArrozConLeche"
            android:exported="false" />
        <activity
            android:name=".TacosCochinitaPibil"
            android:exported="false" />
        <activity
            android:name=".RepertorioRecetasMexico"
            android:exported="false" />
        <activity
            android:name=".RepertorioPaises"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>